.adminConteiner {
  min-height: 100vh;
  background-color: #f3f5f7;
}

.adminHeader {
  padding: 10px;
  font-family: 'Inter', sans-serif;
  border-bottom: 2px solid #dee3e7;
}

.adminHeader h1 {
  font-weight: 800;
  font-size: 2.5rem;
  color: #57575788;
}

.adminHeader span {
  font-size: 1.5rem;
}