@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.LandingPage {
    width: 100%;
    height: 100%;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: -1;
    
}

.backgroundImgContainer {
    width: 100%;
    height: 100%;
    background-image: url('../assets//darthvader.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 0;
}

.navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 98%;
    gap: 20px;
    padding: 5px;
    z-index: 10;
}

.logo {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 3rem;
    font-weight: 900;
}

.links {
    width: 80%;
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    gap: 16px;
}

.nav-link {
    color: white;
    font-size: 1rem;
    font-family: "Special Elite", cursive;
    font-weight: 400;
    text-decoration: none;
    transition: .2s ease;
}

.nav-link:hover {
    color: red;
}

.profile {
    cursor: pointer;
    width: 25%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
}

.profile img {
    width: 56px;
    height: 64px;
    margin-top: 5px;
    margin-left: 20px;
}

.info {
    width: 80%;
    height: 80%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 10;
}

.description {
    font-size: 2rem;
    color: white;
    font-family: "Special Elite", cursive;
    width: 35%;
    text-align: justify;
}

.join {
    background-color: #982C3D;
    color: #FFFFFF;

    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 24%;
    height: 6%;

    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 900;

    transition: .6s ease;
    
}

.join:hover {
    background-color: #FFFFFF;
    color: red;
}

.hamburger {
    display: none;
}

.line {
    width: 24px;
    height: 2px;
    background-color: #FFFFFF;
}

@media only screen and (max-width: 480px) {
    .backgroundImgContainer {
        position: static;
        height: 50%;
        
    }

    .navbar {
        padding: 0;
        position: absolute;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .links {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: white;
        margin-top: 70%;
        width: 100vw;
        height: 25vh;
        right: 0;
    }

    .nav-link {
        font-size: 1.2rem;
        margin-left: 20px;
        color: black;
    }

    .profile {
        display: none;
    }

    .info {
        height: 50%;
        justify-content: center;
        align-items: flex-start;
    }

    .description {
        font-size: 1.8rem;
        width: 100%;
    }

    .join {
        width: 100%;
        height: 10%;
    }
    
}