@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

.LandingPage {
    width: 100vw;
    height: 105vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.backgroundImgContainer {
    background-image: url('../assets//darthvader.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    gap: 20px;
    margin: 20px 20px 0px 20px;
    z-index: 10;
}

.leftSide {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: flex-end;
}

.logo {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 3rem;
    font-weight: 900;
}

.links {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1.2%;
    gap: 30px;
}

.nav-link {
    color: white;
    font-size: 1rem;
    font-family: cursive;
    font-weight: 400;
    text-decoration: none;
    transition: .2s ease;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.nav-link:hover {
    color: red;
}

.profile {
    position: relative;
    margin-right: 20px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
}

.profile img {
    width: 42px;
    height: 52px;
}

.info {
    position: absolute;
    bottom: 1.5rem;
    left: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.description {
    font-size: 30px ;
    color: white;
    font-family: "Coming Soon", cursive;
    width: 380px;
}

.join {
    background-color: #FF1D25;
    color: #FFFFFF;

    border: none;
    cursor: pointer;
    border-radius: 36px;
    width: 300px;
    height: 45px;
    margin: 10px 0 10px;

    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    
    transition: .6s ease;
}

.join:hover {
    background-color: #FFFFFF;
    color: red;
}

.hamburger {
    display: none;
}

.line {
    width: 24px;
    height: 2px;
    background-color: #FFFFFF;
}

.profile-options-container {
    width: 97%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@media only screen and (min-width: 2000px) {
    .logo {
        font-size: 80px;
    }

    .navbar {
        margin: 10px 20px 0px 20px;
    }

    .nav-link {
        font-size: 25px;
    }

    .profile img {
        width: 56px;
        height: 64px;
    }

    .description {
        width: 692px;
        font-size: 50px;
    }

    .join {
        font-size: 40px;
        width: 487px;
        height: 65px;
        border-radius: 20px;

    }
}

@media only screen and (max-width: 480px) {
    .navbar {
        padding: 0;
        position: absolute;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .links {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: white;
        margin-top: 70%;
        width: 100vw;
        height: 25vh;
        right: 0;
    }

    .nav-link {
        font-size: 1.2rem;
        margin-left: 20px;
        color: black;
    }

    .profile {
        display: none;
    }

    .info {
        justify-content: center;
        align-items: flex-start;
        left: 0;
        bottom: 1rem;
        margin: 20px;
    }

    .description {
        font-size: 1.8rem;
        width: 100%;
    }

    .join {
        width: 100%;
    }
    
}

@media only screen and (max-width: 280px) {
    .logo {
        font-size: 30px;
    }

    .description {
        font-size: 22px;
    }

    .join {
        font-size: 20px;
    }
}