.load-screen-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100vw;
  height: 100vh;

  background-color: white;
  font-family: 'Inter', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.load-screen {
  overflow: hidden;
  width: 400px;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.load-screen__line {
  width: 2.5rem;
  height: 2rem;

  clip-path: polygon(28% 0%, 72% 0%, 62% 100%, 38% 100%);
  background-color: #ff1d25e5;

  animation: line 3s ease infinite;
}

.load-screen__asterisk {
  line-height: 5.2rem;
  font-size: 6rem;
  font-weight: 800;
  color: #ff1d25e5;

  animation: asterisk 3s ease infinite;
}

@keyframes line {
  0% {
    transform: rotate(180deg);
    clip-path: polygon(28% 0%, 72% 0%, 62% 100%, 38% 100%);
  }

  25% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(0deg);
  }

  90% {
    clip-path: polygon(28% 0%, 72% 0%, 62% 100%, 38% 100%);
  }

  /* 90% {
    clip-path: polygon(38% 0%, 62% 0%, 62% 100%, 38% 100%);
  } */

  98% {
    clip-path: polygon(38% 0%, 62% 0%, 72% 100%, 28% 100%);
  }

  100% {
    clip-path: polygon(38% 0%, 62% 0%, 72% 100%, 28% 100%);
  }
}

@keyframes asterisk {
  0% {
    transform: translateY(-200px);
  }

  20% {
    transform: translateY(-90px);
  }

  25% {
    transform: 
      rotate(60deg) 
      translateX(0px) 
      rotate(-60deg) 
      translateY(-90px);
  }

  80% {
    transform: 
      rotate(-45deg)
      rotate(45deg);
  }

  85% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(400px);
  }
}

.loading-message .cine {
  font-weight: 800;
}
